* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right,black,darkblue);
}






@keyframes pulse {
  0% {
    background: ghostwhite;
    transform: scale(1);
  }
  100% {
    background: black;
    transform: scale(.5);
    border-radius: 50%;
  }
}
