* {
  box-sizing: border-box;
}

body {
  background: peru;
}

img {
  max-width: 400px;
}

p {
  font-size: 25px;
}

.shapeshifter {
  background: gainsboro;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 2s, border-radius 5s;
  background: 7s;
  cursor: cell;
}

.shapeshifter:hover {
  background: powderblue;
  border-radius: 0;
  transform: translate(-50%, -50%) scale(2);
}

.revealer {
  color: tan;
  font-style: italic;
}

.hidden {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.revealer:hover + .hidden {
  opacity: 1;
}
