* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.total-container {
  background: beige;
  height: 100vh;
}

.top-container {
  display: flex;
  height: 20%;
  gap: 10px;
  padding: 10px;
}

.top-item {
  background: gainsboro;
  height: 100%;
  width: 100%;
}

.outer {
  display: flex;
  background: orange;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.middle {
  background: pink;
  width: 20%;
  height: 20%;
}
